.heading{
    color: rgba(165, 174, 182, 0.685);
    font-family: Georgia, serif;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-indent: 100px;
}
.para{
    color: rgba(165, 174, 182, 0.685);
    font-family: Georgia, serif;
    text-indent: 50px;
    text-align: justify;
    padding: 8px;
    letter-spacing: 3px;
}
@media only screen and (max-width:1200px){
    .heading{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-align: left;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        height: 200px;
        text-indent: 100px;
    }
    .para{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-indent: 50px;
        text-align: justify;
        padding: 8px;
        letter-spacing: 3px;
    }
}
@media only screen and (max-width:800px){
    .heading{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-align: left;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        height: 200px;
        text-indent: 100px;
    }
    .para{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-indent: 50px;
        text-align: justify;
        padding: 8px;
        letter-spacing: 3px;
    }
   
}
@media only screen and (max-width:700px){
    .heading{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-align: left;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        height: 200px;
        text-indent: 100px;
    }
    .para{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-indent: 50px;
        text-align: justify;
        padding: 8px;
        letter-spacing: 3px;
    }
    
}
@media only screen and (max-width:500px){
    .heading{
        color: rgba(165, 174, 182, 0.685);
        font-family: Georgia, serif;
        text-align: left;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        height: 200px;
        text-indent: 100px;
    }
    .para{
        color: rgba(165, 174, 182, 0.685);
    font-family: Georgia, serif;
    text-indent: 50px;
    text-align: justify;
    padding: 8px;
    letter-spacing: 3px;
    }
   
}