.corousel {
  display: flex;
  justify-content:center ;
  
}

.corousel .slide {
  height: 80vh;
}
.corousel .slide img {
  max-height: 100%;
  width: auto;
  
}
.image {
  margin: 0 auto;
  height: 10%;
  width: 80%;
  
  
}
@media only screen and (max-width:1200px){
    .corousel{
        height: 90vh;
        

    }
    .corousel.slide img{
        margin: 10vh auto;
        width: 100vw;

    }
}
@media only screen and (max-width:800px){
    .corousel{
        height: 80vh;

    }
   
}
@media only screen and (max-width:700px){
    .corousel{
        height: 70vh;

    }
    
}
@media only screen and (max-width:500px){
    .corousel{
        height: 50vh;

    }
   
}
