.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: rgb(119, 136, 153);
  justify-self: start;
  margin-right: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  display: flex;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
/* .nav-button {
  color: rgb(119,136,153);
  cursor: pointer;
  padding: none;
  background-color: black;
  border-radius: none;
  padding: 15px 32px;
  display: inline-block;
  outline: none;
  font-size: medium;
  font-family: Georgia, serif;
  text-decoration: none;
} */

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  z-index: 1;
}

.nav-links {
  color: rgb(119, 136, 153);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: medium;
  font-family: Georgia, serif;
}

.nav-links:hover {
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.fa-bars {
  color: rgb(119, 136, 153);
  font-size: large;
  display: flex;
  margin-top: 6px;
  background-color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  /* .nav-button {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    

  } */

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: block;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: black;
    border-radius: none;
    color: rgb(119, 136, 153);
  }

  .navbar-logo {
    color: rgb(119, 136, 153);
    position: absolute;
    top: 2%;
    left: 0;
    transform: translate(25%, 50%);
    justify-self: start;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial Nova;
    display: flex;
    font-size: medium;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(119, 136, 153);
    font-size: large;
    display: flex;
    margin-top: 6px;
    background-color: black;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: rgb(119, 136, 153);
    font-size: 1.5rem;
    outline: none;
  }

  /* .nav-links-mobile:hover {
    background: #fff;
    color: black;
    transition: 250ms;
  } */
}



/* .navbar-logo {
  color: rgb(119, 136, 153)!important;
  justify-self: start;
  margin-right: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  display: flex;
} */



/* .dropdown-item {
  color: rgb(119, 136, 153) !important;
  background-color: black;
  
  
  
}
.navbar-toggler-icon{
  color: rgb(119, 136, 153) !important;
}
.dropdown-menu {
  background: transparent !important;
  color: rgb(119, 136, 153) !important;
  
  }

.nav-link{
 color:  rgb(119, 136, 153) !important;
}
.nav-links:hover {
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  z-index: 1;
}


.navbar-nav {
  color: rgb(119, 136, 153);
  display: contents;
  align-items: center;
  height: 80px;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.nav-item {
  display: contents;
  align-items: center;
  height: 80px;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
} */

/* .nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  margin-top: 40px;
}
.nav-button {
  color: rgb(119,136,153);
  cursor: pointer;
  padding: none;
  background-color: black;
  border-radius: none;
  padding: 15px 32px;
  display: inline-block;
  outline: none;
  font-size: medium;
  font-family: Georgia, serif;
  text-decoration: none;
} 

.nav-item {
  display: contents;
  align-items: center;
  height: 80px;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.nav-links {
  color: rgb(119, 136, 153);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: medium;
  font-family: Georgia, serif;
}

.nav-links:hover {
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.fa-bars {
  color: rgb(119, 136, 153);
  font-size: large;
  display: flex;
  margin-top: 6px;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
   .nav-button {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    

  } 

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: block;
  }

  .nav-links {
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: black;
    border-radius: none;
    color: rgb(119, a136, 153);
  }

  .navbar-logo {
    color: rgb(119, 136, 153);
    position: absolute;
    top: 2%;
    left: 0;
    transform: translate(25%, 50%);
    justify-self: start;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial Nova;
    display: flex;
    font-size: medium;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(119, 136, 153);
    font-size: large;
    display: flex;
    margin-top: 6px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    color: rgb(119, 136, 153);
    font-size: 1.5rem;
    outline: none;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: black;
    transition: 250ms;
  }
} */
